// .business-index-item {
//     border: 1px solid black;
// }

.business-index-item-box {
    border: 1px solid black;
    width: 40%;
    padding-top: 20px;
}

.business-index-item-name {
    font-weight: bold;
    // padding-bottom: 20px;
    display: inline;
    vertical-align: top;
    margin-left: 5%;
    font-size: 20px;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}


.business-index-map {
    display: flex;
    transform: translate(50%,-180%);
}

.business-index-item {
    font-size: 25px;
    transform: translate(10%, 10%);
}

.business-index-item-address {
    color: #757280;
    font-size: 12px;
    display: inline;
    /* transform: translate(40%, -280%); */
    margin-left: 80%;
    transform: translate(10px, -600%);
    float: right;
}

img {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-left: 5%;
    margin-bottom: 3%;
    border-radius: 3%;

}
