.show-business-name {
    font-size: 48px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

.show-business-category {
    font-size: 16px;
    color: #757280;
}

.show-head {
    transform: translate(20%,60%)
}

.show-map {
    text-align: left;
    width: 300px;
    height: 150px;
}
.show-header {
    height:133px;
    overflow: hidden;
    border: 1px solid #eeeeef;
}








.show-side-information {
    color: #2b273c;
    height:120px;
    width: 381px;
    border: 1px solid #EEEEEF;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    text-align: center;
}
.show-side-information-container {
    display: flex;
    justify-content: space-around;
    transform: translate(25%,-50%);

}

.show-pictures {
    height: 265px;
    width: 100%;
    border: 1px solid black;
    background: url('https://yalp-photos.s3-us-west-1.amazonaws.com/blue_barn_2.jpg'), url("https://yalp-photos.s3-us-west-1.amazonaws.com/blue_barn_1.jpeg"), url('https://yalp-photos.s3-us-west-1.amazonaws.com/blue_barn_3.jpg') ;
    background-position: left , center, right;
    background-repeat: no-repeat;
}

.show-business-website {
    display: flex;
    padding-top: 20px;
    border-bottom: 1px solid #EEEEEF;
    margin-bottom: 10px;
    padding-bottom: 30px;
    
}
.show-business-phonenumber {
    // margin-top: 40px;
    display: flex;
    text-align: center;
    
}

.phone-icon {
    font-size: 30px;
}

.map-hours-container {
    transform: translate(20%);
}

.hours-container {
    transform: translate(17.5%, 130%);
    text-align: left;
}

.hours {
    text-align: left;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    width:180px ;
    // border: 1px solid black;
    list-style-type: none;
   
}

.show-address {
    font-size: 14px;
    display: flex;
    transform: translate(0px, 260%);
    font-weight: bold;
    border-bottom: 1px solid #EEEEEF;
    border-left: 1px solid #EEEEEF;
    border-right: 1px solid #EEEEEF;
    width: 300px;
}
.show-img {
    width: 25%;
    height: 100%;
    display: inline;
}

