.main-header{
    background-color: #D32323;
    color:white;
    text-align: center;
    height:600px;
}

.login-signup {
    display:flex;
    position: relative;
    transform: translate(65%)
}

.login-link {
    font-size: 14px;
    font-weight: bold ;
}
.login-link {
    font-size: 14px;
}